:root {
    --clr-smkid1: #0F88BF;
    --clr-smkid2: #1D2D49;

    --clr-wheelItem1: #303DEB;
    --clr-wheelItem2: #79218F;
    --clr-wheelItem3: #F6DA65;
    --clr-wheelItem4: #E63F47;
    --clr-wheelItem5: #0ED280;
    --clr-wheelItem6: #FC7323;
    --clr-wheelItem7: #008735;
    --clr-wheelItem8: #171749;

    --n: 22;
}

#item {
    position: relative;
    z-index: 100;

    --size: 1.25rem;
    margin-bottom: calc(var(--size)*1.2);

    &::after {
        content: '';
        height: var(--size);
        width: var(--size);
        background-color: #1D2D49;
        position: absolute;
        bottom: calc(-1 * var(--size) / 2);
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
    }
}

#wheel {
    --width: min(80dvh, 100%);

    aspect-ratio: 1/1;
    width: var(--width);

    &[data-spinning] {
        cursor: not-allowed;
    }

    span {
        overflow: hidden;
        text-wrap: pretty;
        writing-mode: vertical-rl;
        color: white;
        text-align:center;
        font-size:0.6em;
        font-weight: 500;


        height:50%;
        width:calc(pi * var(--width) / var(--n) + 5px);
        position: absolute;
        clip-path: polygon(100% 0 , 50% 100% , 0 0 );
        display:flex;
        align-items: center;
        justify-content: center;
        transform-origin: bottom;
        left: 50%;
    }
}